#oppoMochi {
    position: relative;
}

#set {
    position: relative;
    top: 10px;
    left: 0px;
}

#board {
    width: 540px;
    height: 540px;
    z-index: 0;
}

#myMochi {
    position: relative;
    top: 10px;
    left: 0px;
}

.mochi {
    width: 540px;
    height: 90px;
}

.overwrap {
    margin-left: -40px;
}

.piece, .available {
    width: 60px;
    height: 60px;
}

.piece {
    z-index: 200;
}

.available {
    background-color: rgba(0, 0, 255, 0.25);
    z-index: 100;
}

.oppoPiece {
    -moz-transform:    rotate( 180deg );  /* Firefox */
    -webkit-transform: rotate( 180deg );  /* Chrome,Safari */
    -o-transform:      rotate( 180deg );  /* Opera */
    -ms-transform:     rotate( 180deg );  /* IE */
    transform:         rotate( 180deg );  /* CSS3 */
}

/* Piece position below */
.ichi {
    position: absolute;
    top: 0px;
}

.one {
    position: absolute;
    left: 0px;
}

.ni {
    position: absolute;
    top: 60px;
}

.two {
    position: absolute;
    left: 60px;
}

.san {
    position: absolute;
    top: 120px;
}

.three {
    position: absolute;
    left: 120px;
}

.yon {
    position: absolute;
    top: 180px;
}

.four {
    position: absolute;
    left: 180px;
}

.go {
    position: absolute;
    top: 240px;
}

.five {
    position: absolute;
    left: 240px;
}

.roku {
    position: absolute;
    top: 300px;
}

.six {
    position: absolute;
    left: 300px;
}

.nana {
    position: absolute;
    top: 360px;
}

.seven {
    position: absolute;
    left: 360px;
}

.hachi {
    position: absolute;
    top: 420px;
}

.eight {
    position: absolute;
    left: 420px;
}

.kyu {
    position: absolute;
    top: 480px;
}

.nine {
    position: absolute;
    left: 480px;
}

