body {
    background-image:url("img/texture.jpg");
    -webkit-text-size-adjust: 100%;
}

aside {
    position: fixed;
    right: 10px;
    top: 8px;
    z-index: 5000;
    display: block;
}

aside ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

aside img {
    width: 30px;
    height: 30px;
}

#help {
    display: none;
    background-color: white;
    width: 95%;
    position: absolute;
    z-index: 2000;
    border-style: ridge;
    overflow-x: hidden;
    top: 3px;
    left: 5px;
}

#help > header {
    margin: 15px 0;
    text-align: center;
    font-size: 25px;
}

#help ul {
    margin: 0 20px 0 0;
}

.piece-help {
    position: relative;
    left: 60px;
    clear: left;
}

.piece-help div {
    margin: 15px 10px 0 0;
    float: left;
}

.piece-help img {
    width: 80px;
    height: 80px;
}

.piece-help label {
    display: block;
    width: 80px;
    text-align: center;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    float: left;
    margin-top: 20px;
}

tr {
    text-align: center;
}

td {
    width: 20px;
    border: 1px black solid;
}

table .move {
    background-color: rgba(0, 0, 255, 0.25);
}

table .target {
    background-color: #FFECB1;
}

#menu {
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 0 0 0 -150px;
    width: 300px;
    height: 250px;
    z-index: 1000;
}

#menu > article {
    position: absolute;
    left: 50%;
    margin-left: -87px; /* button width / 2 */
}

#menu > header {
    margin: 25px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#menu > article:nth-child(3) {
    margin-top: 50px;
}

#menu > article:nth-child(4) {
    margin-top: 100px;
}

#menu select {
    width: 175px;
    height: 25px;
    font-size: 15px;
    text-align: center;
}

#menu button {
    width: 175px;
}

button {
    height: 40px;
    font-size: 15px;
}

.customize {
    display: none;
    position: relative;
}

#customize-tip {
    text-align: center;
    font-size: 20px;
}

.above {
    margin-bottom: -55px;
}

.below {
    margin-top: -50px;
}

#carousel-left {
    position: absolute;
    top: 10%;
    width: 30px;
}

#carousel-right {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 30px;
}

#extra {
    margin: 0 auto;
    overflow: hidden;
    max-width: 540px;
    width: 80%;
}

.customize .piece {
    width: 60px;
    height: 60px;
}

.customize ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 720px;
}

.customize li {
    float: left;
}

#start {
    position: relative;
    left: 35%;
    width: 30%;
    height: 30px;
}

#oppoMochi {
    position: relative;
}

#set {
    position: relative;
    top: 10px;
    left: 0px;
    width: 95%;
    max-width: 540px;
    max-height: 540px;
    margin: 0 auto;
}

#board {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
    background-image:url("img/mokume.jpg");
}

#mokume {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#myMochi {
    position: relative;
    top: 10px;
    left: 0px;
}

.inhand {
    max-width: 540px;
    width: 95%;
    min-height: 60px;
    margin: 0 auto;
}

.overwrap {
    margin-left: -14%;
}

.piece, .available, .last-move {
    width: 20%;
    max-width: 90px;
    max-height: 90px;
    min-height: 20%;
}

.piece {
    z-index: 200;
}

.available {
    background-color: rgba(0, 0, 255, 0.25);
    z-index: 100;
}

.last-move {
    background-color: rgba(0, 0, 100, 0.25);
    z-index: 100;
}

.oppoPiece {
    -moz-transform:    rotate( 180deg );  /* Firefox */
    -webkit-transform: rotate( 180deg );  /* Chrome,Safari */
    -o-transform:      rotate( 180deg );  /* Opera */
    -ms-transform:     rotate( 180deg );  /* IE */
    transform:         rotate( 180deg );  /* CSS3 */

    -webkit-transition: top 2s, left 2s; /* For Safari 3.1 to 6.0 */
    transition: top 1s, left 1s;
}


/* Piece position below */
.ichi {
    position: absolute;
    top: 0px;
}

.one {
    position: absolute;
    left: 0px;
}

.ni {
    position: absolute;
    top: 20%;
}

.two {
    position: absolute;
    left: 20%;
}

.san {
    position: absolute;
    top: 40%;
}

.three {
    position: absolute;
    left: 40%;
}

.yon {
    position: absolute;
    top: 60%;
}

.four {
    position: absolute;
    left: 60%;
}

.go {
    position: absolute;
    top: 80%;
}

.five {
    position: absolute;
    left: 80%;
}

