aside {
    position: absolute;
    top: 2%;
    left: 50%;
    margin: 0 0 0 -160px;
    width: 315px;
    height: 130px;
    border: 2px solid;
    border-radius: 12px;
    z-index: 1000;
    background-color: white;
}

aside p {
    margin: 7px 0;
    text-align: center;
}

#extra {
    margin: 0 30px;
}

aside .piece {
    width: 60px;
    height: 60px;
}

aside button {
    position: relative;
    left: 35%;
    width: 30%;
    height: 25px;
}

#oppoMochi {
    position: relative;
}

#set {
    position: relative;
    top: 10px;
    left: 0px;
    width: 95%;
    max-width: 540px;
    max-height: 540px;
    margin: 0 auto;
}

#board {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image:url("img/mokume.jpg");
}

#myMochi {
    position: relative;
    top: 10px;
    left: 0px;
}

.inhand {
    max-width: 540px;
    width: 95%;
    min-height: 60px;
    margin: 0 auto;
}

.overwrap {
    margin-left: -7.5%;
}

.piece, .available {
    width: 11%;
    min-height: 11%;
    max-width: 60px;
    max-height: 60px;
}

.piece {
    z-index: 200;
}

.available {
    background-color: rgba(0, 0, 255, 0.25);
    z-index: 100;
}

.shake-right {
    -moz-transform:    rotate( 5deg );  /* Firefox */
    -webkit-transform: rotate( 5deg );  /* Chrome,Safari */
    -o-transform:      rotate( 5deg );  /* Opera */
    -ms-transform:     rotate( 5deg );  /* IE */
    transform:         rotate( 5deg );  /* CSS3 */

    -webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
    transition: 0.2s;
}

.shake-left {
    -moz-transform:    rotate( -5deg );  /* Firefox */
    -webkit-transform: rotate( -5deg );  /* Chrome,Safari */
    -o-transform:      rotate( -5deg );  /* Opera */
    -ms-transform:     rotate( -5deg );  /* IE */
    transform:         rotate( -5deg );  /* CSS3 */

    -webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
    transition: 0.2s;
}

.oppoPiece {
    -moz-transform:    rotate( 180deg );  /* Firefox */
    -webkit-transform: rotate( 180deg );  /* Chrome,Safari */
    -o-transform:      rotate( 180deg );  /* Opera */
    -ms-transform:     rotate( 180deg );  /* IE */
    transform:         rotate( 180deg );  /* CSS3 */

    -webkit-transition: top 2s, left 2s; /* For Safari 3.1 to 6.0 */
    transition: top 1s, left 1s;
}

/* Piece position below */
.ichi {
    position: absolute;
    top: 0px;
}

.one {
    position: absolute;
    left: 0px;
}

.ni {
    position: absolute;
    top: 11.1%;
}

.two {
    position: absolute;
    left: 11.1%;
}

.san {
    position: absolute;
    top: 22.2%;
}

.three {
    position: absolute;
    left: 22.2%;
}

.yon {
    position: absolute;
    top: 33.3%;
}

.four {
    position: absolute;
    left: 33.3%;
}

.go {
    position: absolute;
    top: 44.4%;
}

.five {
    position: absolute;
    left: 44.4%;
}

.roku {
    position: absolute;
    top: 55.5%;
}

.six {
    position: absolute;
    left: 55.5%;
}

.nana {
    position: absolute;
    top: 66.6%;
}

.seven {
    position: absolute;
    left: 66.6%;
}

.hachi {
    position: absolute;
    top: 77.7%;
}

.eight {
    position: absolute;
    left: 77.7%;
}

.kyu {
    position: absolute;
    top: 88.8%;
}

.nine {
    position: absolute;
    left: 88.8%;
}

