aside {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 5000;
    display: block;
}

aside ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

aside img {
    width: 30px;
    height: 30px;
}

#help {
    display: none;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2000;
    margin: -8px -8px;
}

#menu {
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 0 0 0 -125px;
    width: 250px;
    height: 250px;
    border: 2px solid;
    border-radius: 12px;
    z-index: 1000;
    background-color: white;
}

#menu > article {
    position: absolute;
    left: 50%;
    margin-left: -87px; /* button width / 2 */
}

#menu > header {
    margin: 25px 0;
    text-align: center;
    font-size: 30px;
}

#menu > article:nth-child(2) {
    left: 60%;
}

#menu > article:nth-child(3) {
    margin-top: 50px;
}

#menu > article:nth-child(4) {
    margin-top: 100px;
}

#menu button {
    width: 175px;
}

button {
    height: 40px;
    font-size: 15px;
}

.customize {
    display: none;
    position: relative;
}

.customize p {
    text-align: center;
    font-size: 20px;
}

.above {
    margin-bottom: -55px;
}

.below {
    margin-top: -50px;
}

#carousel-left {
    position: absolute;
    top: 10%;
    width: 30px;
}

#carousel-right {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 30px;
}

#extra {
    margin: 0 auto;
    overflow: hidden;
    max-width: 540px;
    width: 80%;
}

.customize .piece {
    width: 60px;
    height: 60px;
}

.customize ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 720px;
}

.customize li {
    float: left;
}

#start {
    position: relative;
    left: 35%;
    width: 30%;
    height: 30px;
}

#oppoMochi {
    position: relative;
}

#set {
    position: relative;
    top: 10px;
    left: 0px;
    width: 95%;
    max-width: 540px;
    max-height: 540px;
    margin: 0 auto;
}

#board {
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image:url("img/mokume.jpg");
}

#myMochi {
    position: relative;
    top: 10px;
    left: 0px;
}

.inhand {
    max-width: 540px;
    width: 95%;
    min-height: 60px;
    margin: 0 auto;
}

.overwrap {
    margin-left: -14%;
}

.piece, .available {
    width: 20%;
    max-width: 90px;
    max-height: 90px;
    min-height: 20%;
}

.piece {
    z-index: 200;
}

.available {
    background-color: rgba(0, 0, 255, 0.25);
    z-index: 100;
}

.shake-right {
    -moz-transform:    rotate( 5deg );  /* Firefox */
    -webkit-transform: rotate( 5deg );  /* Chrome,Safari */
    -o-transform:      rotate( 5deg );  /* Opera */
    -ms-transform:     rotate( 5deg );  /* IE */
    transform:         rotate( 5deg );  /* CSS3 */

    -webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
    transition: 0.2s;
}

.shake-left {
    -moz-transform:    rotate( -5deg );  /* Firefox */
    -webkit-transform: rotate( -5deg );  /* Chrome,Safari */
    -o-transform:      rotate( -5deg );  /* Opera */
    -ms-transform:     rotate( -5deg );  /* IE */
    transform:         rotate( -5deg );  /* CSS3 */

    -webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
    transition: 0.2s;
}

.oppoPiece {
    -moz-transform:    rotate( 180deg );  /* Firefox */
    -webkit-transform: rotate( 180deg );  /* Chrome,Safari */
    -o-transform:      rotate( 180deg );  /* Opera */
    -ms-transform:     rotate( 180deg );  /* IE */
    transform:         rotate( 180deg );  /* CSS3 */

    -webkit-transition: top 2s, left 2s; /* For Safari 3.1 to 6.0 */
    transition: top 1s, left 1s;
}


/* onoffswitch */
.onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "You first";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "AI first";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 86px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* Piece position below */
.ichi {
    position: absolute;
    top: 0px;
}

.one {
    position: absolute;
    left: 0px;
}

.ni {
    position: absolute;
    top: 20%;
}

.two {
    position: absolute;
    left: 20%;
}

.san {
    position: absolute;
    top: 40%;
}

.three {
    position: absolute;
    left: 40%;
}

.yon {
    position: absolute;
    top: 60%;
}

.four {
    position: absolute;
    left: 60%;
}

.go {
    position: absolute;
    top: 80%;
}

.five {
    position: absolute;
    left: 80%;
}

